baseurl: https://tech-ahmed.com/
theme: stack
title: Ahmed Al Balochi

languages:
    ar:
        languageName: العربية
        languagedirection: rtl
        title:  أحمد البلوشي
        weight: 1
    en:
        languageName: English
        title: Ahmed Al Balochi
        weight: 2

# Change it to your Disqus shortname before using
disqusShortname: stack

# GA Tracking ID
googleAnalytics: UA-209047568-1 

# Theme i18n support
# Available values: en, fr, id, ja, ko, pt-br, zh-cn, es, de, nl, it
DefaultContentLanguage: ar

# Set hasCJKLanguage to true if DefaultContentLanguage is in [zh-cn ja ko]
# This will make .Summary and .WordCount behave correctly for CJK languages.
hasCJKLanguage: false

permalinks:
    post: /p/:slug/
    page: /:slug/

params:
    mainSections:
        - post
    featuredImageField: image
    rssFullContent: true
    favicon: img/logo2.png

    footer:
        since: 2022
        customText:

    dateFormat:
        published: Jan 02, 2006
        lastUpdated: Jan 02, 2006 15:04 MST

    sidebar:
        #subtitle: طالب علوم حاسب | أحب لينكس | مهندس برمجيات | صانع محتوى قناة Ahmed Al Balochi على YouTube
        avatar:
            enabled: true
            local: true
            src: img/avatar.png

    article:
        math: true 
        toc: true
        readingTime: true
        license:
            enabled: true
            default: Licensed under CC BY-NC-SA 4.0

    comments:
        enabled: true
        provider: disqus

        disqusjs:
            shortname:
            apiUrl:
            apiKey:
            admin:
            adminLabel:

        utterances:
            repo:
            issueTerm: pathname
            label:

        remark42:
            host:
            site:
            locale:

        vssue:
            platform:
            owner:
            repo:
            clientId:
            clientSecret:
            autoCreateIssue: false

        # Waline client configuration see: https://waline.js.org/en/reference/client.html
        waline:
            serverURL:
            lang:
            visitor:
            avatar:
            emoji:
                - https://cdn.jsdelivr.net/gh/walinejs/emojis/weibo
            requiredMeta:
                - name
                - email
                - url
            placeholder:
            locale:
                admin: Admin

        twikoo:
            envId:
            region:
            path:
            lang:

        giscus:
            repo:
            repoID:
            category:
            categoryID:
            mapping:
            lightTheme:
            darkTheme:
            reactionsEnabled: 1
            emitMetadata: 0

        gitalk:
            owner: 
            admin:  
            repo: 
            clientID: 
            clientSecret: 

    widgets:
        homepage:
            - type: search
            - type: archives
              params:
                  limit: 5
            - type: categories
              params:
                  limit: 10
            - type: tag-cloud
              params:
                  limit: 10
        page:
            - type: toc

    opengraph:
        twitter:
            # Your Twitter username
            site: https://twitter.com/ahmedal_balochi

            # Available values: summary, summary_large_image
            card: summary_large_image

    defaultImage:
        opengraph:
            enabled: true
            local: true
            src: img/avatar.png

    colorScheme:
        # Display toggle
        toggle: true

        # Available values: auto, light, dark
        default: auto

    imageProcessing:
        cover:
            enabled: true
        content:
            enabled: true

### Custom menu
### See https://docs.stack.jimmycai.com/configuration/custom-menu.html
### To remove about, archive and search page menu item, remove `menu` field from their FrontMatter
languages:
  ar:
    languageName: العربية
    languagedirection: rtl
    menu:
      main: []

      social:
        - identifier: youtube
          name: YouTube
          weight: 1
          url: https://t.co/qNbPadCaHI?amp=1
          params:
              icon: youtube

        - identifier: twitter
          name: Twitter
          weight: 2
          url: https://twitter.com/ahmedal_balochi
          params:
              icon: brand-twitter

        - identifier: github
          name: GitHub
          weight: 3
          url: https://github.com/ahmed-al-balochi
          params:
              icon: brand-github

        - identifier: rss
          name: RSS
          weight: 4
          url: https://tech-ahmed.com/index.xml
          params:
              icon: rss

      main:
        - identifier: home
          name: الرئيسية
          url: /
          weight: -3
          pre: home
          params:
              newTab: false

        - identifier: عن الكاتب  
          name: عن الكاتب 
          url: /عن الكاتب 
          weight: -2
          pre: user 
          params:
              newTab: false 

        - identifier: Sponsor Me
          name: إدعمني
          url: https://www.patreon.com/user?u=42792180
          weight: -1
          pre: link 
          params:
              icon: doller
              newTab: true

  en:
    languageName: English
    menu:
      main: []

      social:
        - identifier: youtube
          name: YouTube
          weight: 1
          url: https://t.co/qNbPadCaHI?amp=1
          params:
              icon: youtube

        - identifier: twitter
          name: Twitter
          weight: 2
          url: https://twitter.com/ahmedal_balochi
          params:
              icon: brand-twitter

        - identifier: github
          name: GitHub
          weight: 3
          url: https://github.com/ahmed-al-balochi
          params:
              icon: brand-github

        - identifier: rss
          name: RSS
          weight: 4
          url: https://tech-ahmed.com/index.xml
          params:
              icon: rss
      main:
        - identifier: home
          name: Home
          url: /
          weight: -3
          pre: home
          params:
              ### For demonstration purpose, the home link will be open in a new tab
              newTab: false

        - identifier: about 
          name: About 
          url: /about
          weight: -2
          pre: user 
          params:
              newTab: false 

        - identifier: Sponsor Me
          name: Sponsor Me
          url: https://www.patreon.com/user?u=42792180
          weight: -1
          pre: link 
          params:
              newTab: true
              icon: doller


related:
    includeNewer: true
    threshold: 60
    toLower: false
    indices:
        - name: tags
          weight: 100

        - name: categories
          weight: 200

markup:
    goldmark:
        renderer:
            ## Set to true if you have HTML content inside Markdown
            unsafe: false
    tableOfContnts:
        endLevel: 4
        ordered: true
        startLevel: 2
    highlight:
        noClasses: false
